<section>
  <div class="landing-page-wrapper">
    <!-- Full Page Image Header with Vertically Centered Content -->
    <header class="masthead row">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
            <h1 class="display-1 animated zoomIn delay-1s">goclean</h1>
            <p class="lead animated bounce delay-2s">
              See the World & give a try to fixing it by simply placing a line with Google Map.
              <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
            </p>
            <button class="btn btn-lg btn-outline-dark rounded hvr-shrink" routerLink="/maps/home">Let's Start</button>
          </div>
        </div>
      </div>
    </header>
  </div>
</section>
